<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/base.css' %}">
</head>
<body>
    <header class="jumbotron text-center">
        <h1>Título do website</h1>
        <p>Frase curta mesma largura título.</p>
        <nav>
            <a href="{% url 'website:base' %}" class="btn btn-info">Base</a>
            <a href="{% url 'website:home' %}" class="btn btn-info">Home</a>
            <a href="{% url 'website:template_1' %}" class="btn btn-info">Pagina 1</a>
            <a href="{% url 'website:template_2' %}" class="btn btn-info">Pagina 2</a>
        </nav>
    </header>
    <article class="container">
        <main class="col-sm-6">
            {% block main %}
                <aside class="col-sm-6">
                    {% load static %}
                    <img src="{% static 'website\images\chapelito.jpg' %}" alt="Chapelito do Franguito">
                </aside>
            {% endblock main %}
        </main>
    </article>
    <footer>Textinho simples para o footer.</footer>
</body>
</html>